
@{
    Layout = null;
}
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/scripts/kindeditor/themes/default/default.css" rel="stylesheet" />
<link href="~/scripts/kindeditor/plugins/code/prettify.css" rel="stylesheet" />
<script src="~/scripts/kindeditor/kindeditor-all-min.js"></script>
<script src="~/scripts/kindeditor/lang/zh-CN.js"></script>
<script src="~/scripts/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript">

    $(function () {
        $HtmlEditor = KindEditor.create('textarea[name="content"]');
        

       
    });
    google_ad_client = "ca-pub-7116729301372758";
    /* 更多演示（728x90） */
    google_ad_slot = "5052271949";
    google_ad_width = 500;
    google_ad_height = 160;

</script>
<form>
    <textarea id="common_input_text_area" name="content" style="width:800px;height:200px;"></textarea>
</form>
