@{
    ViewBag.Title = "Page_MessageBoard";
}
@*jquery引入*@
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/scripts/kindeditor/themes/default/default.css" rel="stylesheet" />
<link href="~/scripts/kindeditor/plugins/code/prettify.css" rel="stylesheet" />
<script src="~/scripts/kindeditor/kindeditor-all.js"></script>
<script src="~/scripts/kindeditor/lang/zh-CN.js"></script>
<script src="~/scripts/kindeditor/plugins/code/prettify.js"></script>

<script src="~/scripts/Common/CommonFunction.js"></script>
<script type="text/javascript">
    $(function () {
        refreshTable();
        $("#common_submit").click(function () {
            $HtmlEditor.sync();
            var content = $("#common_input_text_area").val();
            if (content == "") {
                alert("请输入留言内容！");
                return;
            }
            content = encodeURIComponent(content);
            var data = {  "content": content }
            $.ajax({
                type: 'post',
                url: '/MessageBoard/SubmitMessage',
                data: {  "content": content },
                dataType: 'json',
                success: function (data) {
                    refreshTable();
                },
                error: function () {
                    refreshTable();
                    alert("submit error!");
                }
            });
        });
    });
    function refreshTable() {
        $.ajax({
            type: 'post',
            url: '/MessageBoard/SearchCommonList',
            data: {},
            dataType: 'json',
            success: function (data) {
                data = $CommonFunction.decodeObject(data);
                //console.log(JSON.stringify(data));
                data = data["data"];
                $("#main_containor_div").html("");
                var containt = $("#main_containor_div");
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    containt.append("<br />");
                    containt.append("<div style=\"color:red;float:left;\">" + d["f_writer_name"] + ":</div><br><div>  <pre class=\"best-text mb-10\">" + d["f_content"] +
                     "</pre></div><div style=\"color:blue;float:right;\"> " + d["f_common_date"] + "</div><a style=\"float:right;margin-right:10px;\" onclick=\"deleteCommon('" + d["f_message_id"] + "')\">删除</a>");
                }

            },
            error: function () {
                alert("search error!");
            }
        });

    }

    function deleteCommon(f_id) {
        console.log("delete id:"+f_id);
        $.ajax({
            type: 'post',
            url: '/MessageBoard/DeleteSingleCommon',
            data: { 'f_id': f_id },
            dataType: 'json',
            success: function (data) {
                data = $CommonFunction.decodeObject(data);
                if (data["result"] == 0) {
                    if (data["state"]&&data["state"] == '1') {
                        alert("对不起，您无权删除！");
                    }
                } else {
                    refreshTable();
                }
            },
            error: function () {
                alert("删除失败");
            }
        });
    }
</script>
<a onclick="deleteCommon()"></a>
<div id="text_area_div">
    <br />
    <div id="input_id_div">
        <br />
        请输入内容：
        @Html.Partial("~/Views/Shared/Part_Html_Editor.cshtml")
        <input type="button" id="common_submit" value="提交" />
        <a onclick="refreshTable()">刷新</a>

    </div>

    <div id="main_containor_div">
        123
    </div>

</div>
<style type="text/css">
    #main_containor_div {
        width:800px;
    }
</style>


