@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Html.ActionLink("医博士培训", "Index", "Doctor")</h1>
    <h1>@Html.ActionLink("医博士考试", "AutoExam", "Examination")</h1>
    
</div>

<div class="row">
   
</div>