
@{
    ViewBag.Title = "CrackPassword";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#sub").click(function () {
            var uid = $("#uid").val();
            $.ajax({
                url: '/GetInfo/CrackPwd',
                type: 'post',
                data: {'uid':uid},
                dataType: 'json',
                success: function (jsonData) {
                    $("#ret").val(jsonData);
                }
            });
        });

    });
</script>
<center>
    <div>用户名</div>
    <input type="text" id="uid" />
    <input type="button" id="sub" value="破解" />
    <div>破解结果</div>
    <input type="text" id="ret"/>
</center>
