
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="~/scripts/Plugins/MiniUI/themes/default/miniui.css" rel="stylesheet" />
    <script src="~/scripts/Plugins/MiniUI/miniui.js"></script>

    <script type="text/javascript">
        $(function () {
            mini.parse();

            $("#register_button_input").click(function () {
                window.location.href = "/Home/Register";
            });
            $("#login_button_input").click(function () {
                var uid = mini.get("user_name_div").getValue();
                var pwd = mini.get("user_pwd_div").getValue();
                //console.log("uid:"+uid+",pwd:"+pwd);
                if (uid == "" || pwd == "") {
                    alert("用户名和密码不能为空！");
                    return;
                }
                $.ajax({
                    type: 'post',
                    url: '/Home/Validate',
                    data: { 'uid': uid, 'pwd': pwd },
                    dataType: 'json',
                    success: function (data) {
                        if (data["result"] == 1) {
                            window.location.href = "/MessageBoard/Index";
                        } else {
                            alert("用户名或密码错误~");
                            return;
                        }
                    }, error: function () {
                        alert("连接服务器失败~");
                    }
                });
            });

            $("#v_code_img").click(function () {
                var url = "/Common/GetVCodeImage";
                $("#v_code_img").attr("src", url);
            });
        });
    </script>
</head>
<body>
    <div style="margin-left:60%;margin-top:20%;width:300px;height:200px;background-color:gray;">
        <div style="margin-left:50px;margin-top:30px;">
            <br />
            <div>
                <label>用户名：</label>
                <div class="mini-textbox" id="user_name_div" width="140"></div><br /><br />
            </div>
            <div>
                <label>密　码：</label>
                <div class="mini-password" id="user_pwd_div" width="140"></div><br />
            </div>
            <br />
            <div>
                <label>请输入验证码：</label>
                <div class="mini-textbox" id="v_code_div" width="40px"></div><img src="/Common/GetVCodeImage" id="v_code_img" />
            </div>
            <br />
            <div class="mini-button" id="login_button_input" value="登录" style="float:left;margin-left:10px;">登录</div>

            <div class="mini-button" id="register_button_input" value="注册" style="float:left;margin-left:80px;">注册</div>

        </div>
    </div>
</body>
</html>
