
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page_Register</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#register_button_input").click(function () {
                var uid = $("#user_name_input").val();
                var pwd = $("#user_pwd_input").val();
                var repwd = $("#user_pwd_re_input").val();
                if (pwd != repwd) {
                    alert("两次输入密码不相同，请重新输入！");
                    return;
                }
                $.ajax({
                    type: 'post',
                    url: '/Home/SignUp',
                    data: {'uid':uid,'pwd':pwd},
                    dataType: 'json',
                    success: function (data) {
                        if (data["result"] == 1) {
                            alert("注册成功！转到登录界面");
                            window.location.href = "/Home/Index";
                        } else {
                            alert("注册失败~");
                        }
                    },
                    error: function () {
                        alert("注册失败~");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div> 
        用　　户　名：<input type="text" id="user_name_input" /><br />
        输入　　密码：<input type="password" id="user_pwd_input" /><br />
        再次输入密码：<input type="password" id="user_pwd_re_input" /><br />
        <input type="button" id="register_button_input" value="注册" style="float:left" />
    </div>
</body>
</html>
